@import '../../styles/mixen';
.bookTitle {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.imgs {
  width: 500px;
  height: 400px;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 30px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  font-family: $roboto;

  h1 {
    font-size: 30px;
    margin: 10px auto;
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.RequestABook {
  // width: 500px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 0 20px;
  text-align: center;
  padding: 40px 35px;

  h4 {
    margin: 15px auto 25px auto;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .book_name {
    margin: 22px auto;
    display: block;
  }
  // button {
  //   background-color: blue;
  //   color: white;
  // }
}
.RequestABooks {
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}
