@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$tweb: 'Titillium Web', sans-serif;
$black: #4c4e4f;
$gray: #818486;
$link_color: #2a8298;
$white: #ffffff;
$boxShadow1: rgba(0, 0, 0, 0.16) 0px 1px
  4px;
